<%= form_with(model: @micotter, local: true) do |form| %>
  <% if @micotter.errors.any? %>
    <div id="error_explanation">
      <h2><%= @micotter.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @micotter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="micotter_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "ミコート一覧画面にもどる", micotters_path %>