<header>
  <h1>ミコッター</h1>
</header>

<%= link_to 'ミコートする', new_micotter_path %>
<p><%= notice %></p>
<table>
<% @micotters.each do |micotter| %>
  <tr>
    <td><%= micotter.content %></td>
    <td><%= link_to '詳細', micotter_path(micotter.id) %></td>
    <td><%= link_to '編集', edit_micotter_path(micotter.id) %></td>
    <td><%= link_to '削除', micotter_path(micotter.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<br>

<footer>
  <p>2020 DIC Kadai</p>
</footer>