<h1>ミコート一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @micotters.each do |micotter| %>
  <tr>
    <td><%= micotter.content %></td>
    <td><%= link_to '詳細を確認する', micotter_path(micotter.id) %></td>
    <td><%= link_to "ミコートを編集する", edit_micotter_path(micotter.id) %></td>
    <td><%= link_to 'ミコートを削除する', micotter_path(micotter.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to '新しくミコートを投稿する', new_micotter_path %>